@{
    ViewData["Title"] = "Página Inicial";
}
<div class="bg-image" 
          style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');

            height: 400vh">

<div class="text-center">
    <h1 class="display-4" >Bem Vindo !</h1>
    <p>Sistema de Cadastro Ubuntu</p>
</div>
</div>